<template>
    <div>
        <router-link to="/users/login">login</router-link>
        <router-link to="/">home</router-link>
        <router-link to="/users/logout">logout</router-link>
        <router-link to="/users/register">register</router-link>
        <router-link to="/users/profile">profile</router-link>
        <router-link to="/adds/create">new add</router-link>
        <router-link to="/messages">messages</router-link>
        <div class="container">
            <slot></slot>
        </div>
    </div>
</template>

<script>
export default {
    
}
</script>