<template>
    <div>
        <component :is="layout">
            <router-view></router-view>
        </component>
    </div>
</template>

<script>
    const default_layout = "default";

    import standard from './layouts/standard'
    export default {
        components: {
            standard
        },
        computed: {
            layout() {
                return (this.$route.meta.layout)
            }
        },
    }
</script>
