<template>
    <div>
        <div>
            <p v-for="bid in bidsOfAdd" :key="bid.id">
                {{bid.user}}
                {{bid.amount}}
            </p>
        </div>
        <div>
            <form @submit.prevent="onSubmit">
                <input type="text" v-model="form.amount">
                <button class="button is-primary" type="submit">make bid</button>
            </form>
        </div>
    </div>
</template>
<script>
import {mapState, mapMutations, mapActions, mapGetters} from 'vuex';
// import helper functions for easier store access
export default {
    mounted() {

    },
    created() {
        this.form.add_id = this.$route.params.id;
    },
    data() {
        return {
            form: new Form({
                amount: '',
                user_id: '',
                add_id: ''
            })
        }
    },
    methods: {
        onSubmit() {
            this.form.user_id = this.$store.state.current_user.id
            this.$store.dispatch('createBidAction', this.form)
        }
    },
    computed: {
        bidsOfAdd() {
            return this.$store.getters['getBidsByID'](this.$route.params.id)
        },
        // get the bids for the current add and set them equal to the bidsOfAdd property

    },
    components: {
        
    }
}
</script>