<template>
    <div>
        <div class="container">
            <form @submit.prevent="onSubmit">
                <div class="form-group">
                    <p>title:</p>
                    <div class="field">
                        <p class="control has-icons-left has-icons-right">
                            <input type="text" class="input is-rounded" name="title" placeholder="my title" v-model="form.title"  @keydown="form.errors.clear('title')">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                            </span>
                        </p>
                    </div>
                    <p>description:</p>
                    <div class="field">
                        <p class="control has-icons-left">
                            <input type="text" class="input is-rounded" name="description" v-model="form.description" @keydown="form.errors.clear('description')">
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </p>
                    </div>
                    <div class="form-group">
                        <div>
                            <input type="file" name="image" id="image" class="form-control" @change="onFileChange" @keydown="form.errors.clear('image')">
                            <span class="help is-danger" v-if="form.errors.has('image')" v-text="form.errors.get('image')"></span>
                        </div>
                    </div>
                    <p>Category/Categories:</p>
                    <div>
                        <label class="typo__label">Search:</label>
                        <multiselect v-model="value" :options="options" :multiple="true" :close-on-select="false" :clear-on-select="false" :preserve-search="true" placeholder="pick some" label="title" track-by="title" :preselect-first="false">
                            <template slot="selection" slot-scope="{ values, isOpen }"><span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">{{ values.length }} options selected</span></template>
                        </multiselect> 
                    </div>
                    <div class="control">
                        <button class="button is-primary" type="submit">submit edit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import {mapState, mapMutations, mapActions, mapGetters} from 'vuex';
import Multiselect from "vue-multiselect";
export default {
    mounted() {
        this.$store.dispatch('getAllCategoriesAction').then((data) => {
            for(let i = 0; i < data.data.length; i++) {
                const idAndTitle = {id: data.data[i].id, title: data.data[i].title}
                this.options.push(idAndTitle)
            }
        }),
        this.fetchAddAction(`${this.$route.params.id}`).then((data) => {
            this.form.title = data.data.title
            this.form.description = data.data.description
            for(var category of data.data.categories) {
                this.value.push(category.id)
            }
            this.form.image = data.data.image
            this.form.user_id = data.data.user_id
        })
    },
    components: {
        Multiselect
    },
    created() {
        
    },
    data() {
        return {
            value: [],
            options: [],
            form: new Form({
                title: '',
                description: '',
                image: '',
                category_id: [],
                user_id: 1
            })
        }
    },
    methods: {
        onSubmit() {
            let formData = new FormData();
            for (let i = 0; i < this.value.length; i++) {
                formData.append('category_id[]', this.value[i].id)
            }
            formData.append('title', this.form.title)
            formData.append('description', this.form.description)
            formData.append('user_id', this.form.user_id)
            formData.append('image', this.form.image)
            for (var pair of formData.entries()) {
                console.log(pair[0] + ', ' + pair[1]);
            }
            console.log(formData.entries());
            let id = this.$route.params.id;
            this.$store.dispatch('editAddAction',{ id , formData }).then(() => {
                this.$router.push('/')
            })
        },
        onFileChange(e) {
            console.log(e.target.files[0]);
            this.form.image = e.target.files[0];
        },
        ...mapActions([
            'fetchAddAction',
        ]),
    },
    computed: {
        ...mapState([
            'categories',
            'current_user',
            'auth_token'
        ])
    }
}
</script>