<template>
    <div>
        <p>hello</p>
        <div>
            <label class="typo__label">Search: </label>
            <multiselect v-model="value" :options="options" :multiple="true" :close-on-select="false" :clear-on-select="false" :preserve-search="true" placeholder="Pick some" label="title" track-by="title" :preselect-first="true">
                <template slot="selection" slot-scope="{ values, isOpen }"><span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">{{ values.length }} options selected</span></template>
            </multiselect>
            <div class="control">
                <button class="button is-primary" type="submit" @click="submitFilter()">search</button>
            </div>
        </div>
        <div v-if="!this.filter">
            <div v-for="add in paginatedFilter.data" :key="add.created_at">
                <router-link :to="{name: 'adds.show', params: {id: add.id}}">{{ add.title }}</router-link>
                <button class="delete" aria-label="delete" @click="this.deleteAddAction(add)"></button>
            </div>
            <pagination :data="paginatedFilter" size="small" align="center" @pagination-change-page="getResults">
                <span slot="prev-nav">&lt; Previous</span>
	            <span slot="next-nav">Next &gt;</span>    
            </pagination>    
        </div>
        <div v-if="this.filter">
            <div v-for="add in paginatedFilter.data" :key="add.created_at">
                <router-link :to="{name:'adds.show', params: {id: add.id}}">{{ add.title }}</router-link>
                <button class="delete" aria-label="delete" @click="this.deleteAddAction(add)"></button>
            </div>
            <pagination :data="paginatedFilter" size="small" align="center" @pagination-change-page="getResults">
                <span slot="prev-nav">&lt; Previous</span>
	            <span slot="next-nav">Next &gt;</span> 
            </pagination>  
        </div>
        <div>
            <input type="text" v-model="keyword">
            <button @click="keywordSearch()">search</button>
        </div>
        <div>
            <button @click="calcDistance()">log test</button>
        </div>
    </div>
</template>
<script>
import {mapState, mapMutations, mapActions, mapGetters} from 'vuex';
import Multiselect from "vue-multiselect";
import Pagination from 'laravel-vue-pagination';
export default {
    components: {
        Multiselect,
        Pagination
    },
    mounted() {
        this.getAllAddsAction();
        this.getAllBidsAction();
        this.getAllCategoriesAction().then((data) => {
            for(let i = 0; i < data.data.length; i++) {
                const idAndTitle = {id: data.data[i].id, title: data.data[i].title}
                this.options.push(idAndTitle)
            }
            // add the categories to the list of options for the multiselect
        });
        this.getResults();
        // initial request for pagination
    },
    created() {
        
    },
    data() {
        return {
            keyword: '',
            value: [],
            options: [],
            filteredAdds: [],
            paginatedFilter: {},
            filter: false,
        }
    },
    methods: {
        ...mapActions([
            'getAllAddsAction',
            'getAllBidsAction',
            'getAllCategoriesAction',
            'deleteAddAction',
            'fetchUserAction'
        ]),
        calcDistance() {
            this.fetchUserAction();
            if (this.$store.state.current_user !== null) {
                for (var add of this.paginatedFilter.data) {
                    const a = 6378.137;
                    const b = 6356.752;

                    var sq = x => (x*x);
                    var sqr = x => Math.sqrt(x);
                    var cos = x => Math.cos(x);
                    var sin = x => Math.sin(x);
                    var radius = lat => sqr((sq(a*a*cos(lat))+sq(b*b*sin(lat)))/(sq(a*cos(lat))+sq(b*sin(lat))));

                    var lat1 = add.user.postal_code.latitude * Math.PI / 180;
                    var lng1 = add.user.postal_code.longitude * Math.PI / 180;
                    var lat2 = this.$store.state.current_user.postal_code.latitude * Math.PI / 180;
                    var lng2 = this.$store.state.current_user.postal_code.longitude * Math.PI / 180;

                    var R1 = radius(lat1);
                    var x1 = R1*cos(lat1)*cos(lng1);
                    var y1 = R1*cos(lat1)*sin(lng1);
                    var z1 = R1*sin(lat1);

                    var R2 = radius(lat2);
                    var x2 = R2*cos(lat2)*cos(lng2);
                    var y2 = R2*cos(lat2)*sin(lng2);
                    var z2 = R2*sin(lat2);

                    console.log(sqr(sq(x1-x2)+sq(y1-y2)+sq(z1-z2)));
                    
                    return sqr(sq(x1-x2)+sq(y1-y2)+sq(z1-z2));
                }
            } else {
                alert('you have to be logged in to check distance. redirecting to login now...');
                this.$router.push('/users/login');
            }
        },
        getResults(page = 1) {
            axios.post('api/adds/pagination?page=' + page, {cat_id: this.value})
				.then(response => {
                    if (this.filter) {
                        this.paginatedFilter = response.data;
                    } else if (!this.filter) {
                        this.paginatedFilter = response.data;
                    }
				});
        },
        keywordSearch() {
            this.filter = false
            this.filter = true
            this.filteredAdds = []
            for (var add of this.paginatedFilter.data) {
                var inOrNot = this.filteredAdds.includes(add)
                if (add.title.includes(this.keyword) && !inOrNot) {
                    this.filteredAdds.push(add)
                } else if (add.description.includes(this.keyword) && !inOrNot) {
                    this.filteredAdds.push(add)
                } else {
                    continue
                }
            }
        },
        submitFilter() {
            this.filter = true
            this.filteredAdds = []
            if (this.value.length == 0 || this.value == undefined) {
                this.filteredAdds = this.adds
                // if no value, adds is adds, this works fine
            } 
            else if (this.value.length == 1) {
                for (var add of this.paginatedFilter.data) {
                    for(var cat of add.categories) {
                        if (this.value[0].id == cat.id) {
                            this.filteredAdds.push(add)
                        }
                    }
                }
                
            } // else if there is a single value, filter the adds and add to filteredAdds
            else if (this.value.length > 1) {
                for (var add of this.paginatedFilter.data) {
                    for (var cat of add.categories) {
                        for (var val of this.value) {
                            var inOrNot = this.filteredAdds.includes(add)
                            if (val.id == cat.id && !inOrNot) {
                                this.filteredAdds.push(add)
                            } else {
                                continue
                            }
                        }
                    }
                }
            }
        },
    },
    computed: {
        ...mapState([
            'bids',
            'adds',
            'current_user',
            'categories',
            'pagination'
        ]),
        
    },
}
</script>