<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <div class="card card-default">
                        <div class="card-header">messages</div>
                        <div class="card-body p-0">
                            <ul class="list-unstyled" style="height:300px; overflow-y:scroll">
                                <li class="p-2" v-for="message in messages" :key="message.id">
                                    <strong>{{ message.user.name }}</strong>
                                    {{ message.message }}
                                </li>
                            </ul>
                            <input type="text" name="message" placeholder="type your message..." class="form-control">
                        </div>
                    </div>
                    <span class="text-muted">user.name is typing...</span>
                </div>
                <div class="col-4">
                    <div class="card card-default">
                        <div class="card-header">active users</div>
                        <div class="card-body">
                            <ul>
                                <li class="py-2">
                                    user.name
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            messages: []
        }
    },
    created() {
        this.fetchMessages();
    },
    methods: {
        fetchMessages() {
            axios.get('messages').then(response => {    
                this.messages = response.data
            })
        }
    },
}
</script>