<template>
    <div>
        <div class="container">
            <p v-for="add in adds" :key="add.id">
                <router-link :to="{name:'adds.show', params: {id: add.id}}">{{ add.title }}</router-link>
                <button class="delete" aria-label="delete" @click="this.deleteAddAction(add)"></button>
                <br>
                <i>{{ add.description }}</i>
                <router-link :to="{name: 'adds.edit', params: {id: add.id}}">edit</router-link>
            </p>
        </div>
    </div>
</template>

<script>
import {mapState, mapMutations, mapActions, mapGetters} from 'vuex';
export default {
    mounted() {
       
    },
    components: {

    },
    created() {

    },
    data() {
        return {

        }
    },
    methods: {
        ...mapActions([
            'deleteAddAction',
            'editUserAction',
            'editAddAction',
        ])
    },
    computed: {
        ...mapState([
            'categories',
            'current_user',
            'auth_token',
            'adds',
            'bids',

        ]),
        ...mapGetters({
            userAdds: 'getAddsFromLoggedInUser',
            userBids: 'getBidsFromLoggedInUser',
        })
    }
}
</script>