<template>
    <div>
        <p v-for="bid in userBids" :key="bid.id">{{ bid.amount }}</p>
    </div>
</template>

<script>
import {mapState, mapMutations, mapActions, mapGetters} from 'vuex';
export default {
    created () {
        
    },
    mounted() {
        
    },
    data() {
        return {
            
        }
    },
    methods: {
        ...mapActions([

        ])
    },
    computed: {
        ...mapState([
            'current_user',
            'bids',

        ]),
        ...mapGetters({
            userBids: 'getBidsFromLoggedInUser',
        })
    }
}
</script>