<template>
    <div>
        <div class="container">
            <h1 class="title">
                Profile
            </h1>
            <div class="field">
                <p class="control">
                    name: {{ user.name }}
                </p>
            </div>
            <div class="field">
                <p class="control">
                    email: {{ user.email }}
                </p>
            </div>
            <div class="field">
                <p class="control">
                    postcode: {{ user.postalCode }}
                </p>
            </div>
            <div class="field">
                <button>edit profile</button>
            </div>
            <div>
                <myAddsComponent></myAddsComponent>
            </div>
            <div>
                <myBidsComponent></myBidsComponent>
            </div>
        </div>
    </div>
</template>

<script>
import {mapState, mapMutations, mapActions, mapGetters} from 'vuex';
import myAddsComponent from './myAddsComponent';
import myBidsComponent from './myBidsComponent';
export default {
    mounted() {
        
    },
    components: {
      myAddsComponent,
      myBidsComponent
    },
    created() {
        this.getAllAddsAction();
        this.getAllBidsAction();
        this.fetchUserAction().then(response => {
            this.user.name = response.data.name,
            this.user.username = response.data.username,
            this.user.email = response.data.email,
            this.user.postalCode = response.data.postalCode
        })
        .catch(errors => console.log(errors))
    },
    data() {
        return {
            user: {
                name: '',
                username: '',
                email: '',
                postalCode: ''
            }
        }
    },
    methods: {
        ...mapActions([
            'fetchUserAction',
            'getAllAddsAction',
            'getAllBidsAction',
        ])
    },
    computed: {
        ...mapState([
            'bids',
            'current_user',
            'auth_token',
            'adds',
        ]),
        ...mapGetters({
            userAdds: 'getAddsFromLoggedInUser',
            userBids: 'getBidsFromLoggedInUser',
            authIsAuth: 'authIsAuth',
    })
    },
}
</script>