<template>
    <div>
        <div class="container" v-if="add">
            <div>
                <p>Title:</p>
                <p>{{ add.title }}</p>
            </div>
            <div>
                <p>Description:</p>
                <p>{{ add.description }}</p>
            </div>
            <div>
                <img v-if="add.image" :src="add.image">
            </div>
        </div>
        <biddingComponent></biddingComponent>
    </div>
</template>

<script>
import {mapState, mapMutations, mapActions, mapGetters} from 'vuex';
// import helper functions for easier store access
import biddingComponent from './biddingComponent';
// import the component to show the bids for this add
export default {
    mounted() {
        this.fetchAddAction(`${this.$route.params.id}`);
        // get the add that was clicked by checking the route for the ID
        this.getAllBidsAction();
        // make sure that all bids are updated in the state
        this.form.user_id = this.current_user.id;
        // set the user_id in the form equal to the id of the current user for bidding purposes
        this.form.add_id = this.$route.params.id;
        // set the add_id in the form equal to that of the currently shown add for bidding purposes
    },
    created() {
        
    },
    data() {
        return {
            form: new Form({
                user_id: '',
                add_id: '',
                // create a new form class instance that holds all the properties needed to make a bid
            }),
            bidsOfPost: this.$store.getters['getBidsByID'](this.$route.params.id)
            // get the bids from this add
        }
    },
    methods: {
        ...mapActions([
            'fetchAddAction',
            'getAllBidsAction'
            // import store actions as methods that can be fired
        ]),
        onSubmit() {

        },
    },
    computed: {
        ...mapState([
            'adds',
            'current_user',
            'bids',
            // import the current states from the store
        ]),
        ...mapGetters({
            add: 'getSingleAdd',
            // import the add that is shown with a getter from the store
        }),
    },
    components: {
        biddingComponent
        // define the imported component
    }
}
</script>